.btn-delete{
    position: absolute;
    top: 5px;
    right: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.2s;
    background-image: url(../assets/trash.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.2rem;
    height: 1.2rem;
}

.btn-delete:hover{
    transform: scale(1.2);
    color: rgb(72, 2, 2);
    background-image: url(../assets/trash-fill.svg);
}
