*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    transition: all 0.8s;
    font-family: 'family-name', sans-serif;
    background-color: antiquewhite;
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    text-align:center;
    width:100%;
    padding: 1.2rem;
}

h1{
    color:darkcyan;
    margin-bottom: 20px;
    font-size:2rem;
    user-select:none;
}

.board{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    width:100%;
    margin: 0 auto;
    max-width:1200px;
    gap:20px;
}

.contentList{
    background-color:aqua;
    width:30%;
    min-height:400px;
    padding:1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px burlywood;
}

.contentList h2{
margin-bottom: 30px;
color:darkslategray;
font-size:1.6rem;
cursor:default;
user-select:none;
}

.contentList.over{
    background-color:beige;
    box-shadow: 0 0 10px 5px wheat;
    transition: all 0.3s;
}

.card.inprogress{
    background-color:rgb(230, 194, 127);
    transition: all 0.5;
}

.card.done{
    background-color:lightgreen;
    transition: all 0.5s;
}

.card{
    background-color:honeydew;
    padding:1rem;
    margin-bottom:10px;
    border-radius:9px;
    cursor:grab;
    box-shadow: 0 2px 3px black;
    transition: all 0.2s;
}

.card:active{
    cursor:grabbing;
    transform: scale(1.05);
    box-shadow: 0 4px 6px black;
}

.dropdown{
    display:flex;
    align-items: end;
    justify-content: right;
    width:100%;
    margin: 0 auto;
}

.redButton{
    transition: all 0.8s;
    background-color:red !important;
}

.yellowButton{
    transition: all 0.8s;
    background-color:yellow !important;
}

.blueButton{
    transition: all 0.8s;
    background-color:blue !important;
}

footer{
    margin-top:50px;
}

footer a{
    text-decoration: none;
    color: blueviolet;
    font-size: 1.3rem;
}

footer a:hover{
    transition: all 0.3s;
    color:cadetblue;
}

@media (max-width:768px){

    .board{
        flex-direction: column;
        align-items: center;
    }

    .contentList{
        width:80%;
        margin-bottom:20px;
    }
}
.btn-primary{
    background-color: paleturquoise;
    color: purple;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 1.2rem;
    transition: background 0.3s;
    font-weight: bold;
    cursor: pointer;
    gap: 8px;
}

.btn-primary:hover{
    background-color: blueviolet;
    transform: translateY(-1);
}

.modal-overlay {
    position: fixed;  
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.5); 
    display: flex;    
    align-items: center; 
    justify-content: center;
    z-index: 1000;     
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden {
    display: none !important;
}